.title_image{
       width:90%;
       height:100%;

}

html, body{
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


hr{
    width: 50%;
    background-color: black;
    height: 5px;
}

.main_section{
    margin: 100px;
}

p{
    font-size: 15px;
}

#SSImg{
    height:400px;
}

.LoginImage{

    padding-top: 10px;
    padding-bottom: 10px;

}

.RegisterImage{
    padding-top: 10px;
    padding-bottom: 10px;

}

.acc_SSImg{
    
    height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.img_span{
     width: 200px;
     height: 950px;
     display: block;
     margin-top: 50px;
}

.accimg_span{
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

#login_text{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#register_text{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#acc_text{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#clicked_text{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#explore_clicked_text{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#ranking_text{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#activity_clicked_text{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}


.center {
    text-align: center;
}

.footer_section{

    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    height: 120px;
    background-color: #212529;
    color: white;
 }